.formulario {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 80px 50px;
}

.formulario form {
    background-color: #F6F1E9;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    flex: 1; /* cada formulário fica com 1 espaço na tela (50%)*/
}